.pc{
    inset: 0;
    min-width: 100%;
    height: 100%;
}
.open{
    z-index: 999999999;
}
.pd{
    width: 678px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
}
.pd h1{
    font-size: 1.8rem;
    font-weight: 400;
}
.pi{
    font-size: 20px;
    margin-left: 8px;
}
.pt{
    font-size: 1rem;
}
.oauthg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.poa{
    cursor: pointer;
    border-radius: 20px;
    width: 300px;
    height: 41px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mr{
    margin-right: 30px;
}
.poa h3{
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.734);
}
.pdi{
    margin-top: 10px;
    font-size: 0.9rem;
}
.pdb{
    max-width: 480px;
    text-align: center;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.603);
}
.sgc{
    width: 100%;
    height: 100%;
}