
node_modules/
dist/
.vite/
*.log
*.lock

.env
.env.local
.env.*.local

.vscode/
.idea/

package-lock.json
yarn.lock
pnpm-lock.yaml

/public/build/
*.cache


.DS_Store
Thumbs.db


bin/
obj/
*.user
*.suo
*.csproj.user
*.vscode/

*.log
logs/
