.ecc{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: auto;
    min-height: auto;
    gap: 30px;
    flex-direction: column;
}
.btnSize{
  border-radius:50%;
  width:30px; 
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
}
.btnIcon {
  fill:rgb(63, 170, 68);
  font-size:1.2rem;
}
.btnFile{
  cursor: pointer;
  box-shadow:0px 3px 1px 2px rgb(63, 170, 68);
  transition: all 0.6s ease;
  background-color: white;
}
.openclose{
  transition: all 0.6s ease;
  transform: rotate(45deg);
}
.db{
  display: flex;
}
.dn{
  display: none;
}
.ProseMirror-hideselection {
  display: flex;
  justify-content: center;
}
.btnSection {
  cursor: pointer;
  margin-right:20px;
  box-shadow:0px 3px 1px 2px rgb(33, 33, 33) ;
  transition: all 0.6s ease;
  background-color: white;
}
.btnIconSection {
  fill:rgb(33, 33, 33) ;
  font-size:1.5rem;
}
.btnIconSection:first-child{
  margin-top: 1.5px;
}
.btnSection:hover{
  margin-top: 1px;
  box-shadow: 0px 0px 1px 1px rgb(75, 75, 75);
}
.btnFile:hover{
  margin-top: 1px;
  box-shadow: 0px 0px 1px 1px rgb(80, 216, 87);
}
.ProseMirror{
  width: 900px !important;
  padding-left: 0px !important;
}
.et{
    margin: 0px;
    font-size: 70px;
    width: 900px;
    height: 60px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.nop .ProseMirror {
  min-height: 60px;
  display: flex;
  align-items: center; 
}
.nop .ProseMirror p {
  margin: 0; 
  font-size: 30px;
  font-weight: 400;
  padding: 0;
}
.nop .ProseMirror ul,
.nop .ProseMirror ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px; 
}
.ProseMirror{
    width: 900px;
    min-height: 300px;
    height: auto;
    padding: 0px 25px 0px 30px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: #999;
  float: left;
  height: 0;
  pointer-events: none;
  opacity: 0.6;
}
.abs{
    position: absolute;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    background-color: #242424;
    color: white;
}
.icon{
    fill:white; width:24px !important;
    height:24px !important;
    size: 50;
}
.bt{
    border-radius: 8px;
    color: white;
    background-color: #242424;
    width: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border: "none";
    transition: all 0.9s ease;
}
.bt:hover{
    border: 1px solid white;
}